.grid {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-top: 16px;
  background-color: #ffffff;
  user-select: none;
}

.grid table {
  width: 100%;
  table-layout: fixed;  
  cursor: context-menu;
}

.grid th, .grid td {
    box-sizing: border-box;
    text-align: left;
    height: 48px;
    line-height: 48px;
    padding: 0 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #bbbbbb;
  }

  /* tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
  } */

  .grid tbody tr:hover {
    /* background-color: #e9ebee; */
    background-color: #e5e5e5;
  }

  .grid tbody tr.selected {
    background-color: #EBF9F4;
  }

  .grid thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  /* test overlap loader */
  z-index: 2;
}

.grid::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.grid::-webkit-scrollbar-track {
  margin-top: 48px;
  background: #BBBBBB; 
}
 
.grid::-webkit-scrollbar-thumb {
  background: #454545; 
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */


/* tr td:nth-child(1), tr th:nth-child(1) {
  width: 150px;
}*/
.grid tr td:nth-child(1), .grid tr th:nth-child(1) {
  padding-left: 16px;
  text-align: right;
}

.grid tr td:nth-child(1) > i {
  line-height: 52px;
  font-size: 24px;
}
.grid td i.fa-square {
  color: #bbbbbb;
}

.grid td i.fa-check-square {
  color: #019160;
}

