.toolbar {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-top: 16px;
  /* test */
  /* overflow: hidden; */
}

.toolbar-left, .toolbar-right {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  /* flex-shrink: 1 !important; */
}

.input-search {
  flex-shrink: 0;
  width: 300px;
  padding-left: 40px; 
}

input.input-search + i {
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 16px;
}

